.root {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  --transition: all 0.3s linear;
  --clr-primary: hsl(205, 78%, 60%);
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 90%, 76%);
  --clr-primary-3: hsl(205, 100%, 96%);
}

.review {
  background: #f2f4f7;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.review:hover {
  box-shadow: var(--dark-shadow);
}

.author {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #abb1c5;
  margin-bottom: 30px;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #14233d;
  margin-bottom: 0.75rem;
}

.prev_btn,
.next_btn {
  color: var(--clr-primary-2);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev_btn:hover,
.next_btn:hover {
  color: black;
}

.img_container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.img_container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.person_img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}

.quote_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary);
  color: white;
}
