.container {
  background: #f2f4f7;
  border-radius: 20px;
  padding: 50px 40px;
}

.container:not(:last-child) {
  margin-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #14233d;
  margin-top: 0;
  margin-bottom: 40px;
}

.title_two {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #14233d;
  margin-top: 0;
  margin-bottom: 15px;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #14233d;
  margin-top: 0;
  margin-bottom: 20px;
}

.imgs_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  display: inline-block;
  width: 360px;
  height: 220px;
  border-radius: 10px;
}
